.vscode/
venv/
test/alu_test/__pycache__/
test/alu_test/sim_build/
test/alu_test/Makefile
test/cu_test/__pycache__/
test/cu_test/sim_build/
test/cu_test/Makefile
test/datacontrol_test/__pycache__/
test/datacontrol_test/sim_build/
test/datacontrol_test/Makefile
test/decoder_test/__pycache__/
test/decoder_test/sim_build/
test/decoder_test/Makefile
test/dispatcher_test/__pycache__/
test/dispatcher_test/sim_build/
test/dispatcher_test/Makefile
test/fetcher_test/__pycache__/
test/fetcher_test/sim_build/
test/fetcher_test/Makefile
test/gpu_test/__pycache__/
test/gpu_test/sim_build/
test/gpu_test/Makefile
test/instcontrol_test/__pycache__/
test/instcontrol_test/sim_build/
test/instcontrol_test/Makefile
test/lsu_test/__pycache__/
test/lsu_test/sim_build/
test/lsu_test/Makefile

